#footer .row{
    border-top: 1px solid #ccc ;
    padding:50px 0;
    }
    .footer-heading{
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-weight: 600;
      color:#242424;
      margin-bottom: 1.6rem;
      text-transform: capitalize;
    }
    .footer-list{
      margin-left: 5px;
      list-style: none;
    }
    .footer-list__item-link{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
    color: #747474;
    transition: color 1s ease 0s;
    }
    .footer-list__item-link:hover{
    color:#ff6a28
    }
    .footer-text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
    color: #747474;
    }
    .footer-list.list-icon{
      display: inline-flex;
    }
    .footer-list-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid #e1e1e1;
      border-radius: 50%;
    }
    .footer-list-icon i:hover{
      color:#fff;
      background-color: #000;
    }
    .footer-list-icon i{ 
      display: block;
      width: 40px;
      height: 40px;
      font-size: 2rem;
      line-height: 4rem;
      color:#747474;
      text-align: center;
      border-radius: 50%;
      transition: all .3s ease-in 0s;
    }
    
    .footer-form__input{
      width: 100%;
      border:1px solid #cccc;
    padding: 15px 15px ;
    margin-bottom: 10px;
    }
    .footer-form__button{
      width: 100%;
      padding: 15px 15px ;
      color:#fff;
      background-color: #000;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 3px;
      transition: background-color 0.3s ease-in 0s;
      cursor: pointer;
    }
    .footer-form__button:hover{
      background-color: #ff6a28;
    }